In [9]:
n=5
for i in range(n):
  for j in range(i,n): 
    print(5,end="")
  print()

55555
5555
555
55
5

In [27]:
n=5
for i in range(n):
  for j in range(0,n-i+1):
    print(j,end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [64]:
n=9
for i in range(1,n+1):
  for j in range(1,i+1,2):
    if(i%2!=0):
     print(i,end=" ")  
  print()

1

3 3

5 5 5

7 7 7 7

9 9 9 9 9

In [119]:
n=5
for i in range(1,n):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1

In [121]:
start=1
stop=2
curr=stop
for i in range(2,6):
  for j in range(start,stop):
    curr=curr-1
    print(curr,end=" ")
  print()
  start=stop
  stop=stop+i
  curr=stop

1
3 2
6 5 4
10 9 8 7

In [129]:
def pascal_Triangle(n):
  for i in range(0,7):
    for j in range(0,i+1):
      print(decide_num(i,j),end=" ")
    print()
def decide_num(n,k):  
  num=1
  if(k>n-k):
    k=n-k
  for i in range(0,k):  
    num=num*(n-i)
    num=num//(i+1)
  return num   
print(pascal_Triangle(7))

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
None

In [133]:
for i in range(1,6):
  for j in range(1,6):
    if(j<=i):
      print(i,end=" ")
    else:  
      print(j,end=" ")
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [142]:
n=5
k=2*n-2
for i in range(n,-1,-1):
  for j in range(k,0,-1):
    print(end=" ")
  k=k+1
  for j in range(0,i+1):  
    print("*",end=" ")
  print()

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [144]:
n = 7
m = (2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [145]:
n = 6
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(n + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [149]:
for i in range(5):
  print("*",end=" ")

* * * * *

In [150]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*